<div class="container">
  <div class="header">
    <h1 class="title">F.T.M</h1>
  </div>
  <h1 class="main-text">"Feel The Emotions with Music"</h1>
  <div class="contents">
   <div class="text-contents">
     <div class="feeling-images">
       <img src="">
       <img src="">
       <img src="">
       <img src="">
     </div>
    <div class="right-contents">
        <h3>What's this App about?</h3>
        <ul>
          <li>This is an App that you can find the best music for you</li>
          <li>This is an App that tells your emotion what song to listen to</li>
          <li>This is an App that sounds your emotions</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-3">
     <%= link_to 'Sign in', new_user_path, class: 'btn btn-block btn-color' %>

    </div>
    <div class="col-md-3">
      <%= link_to 'Log in', login_path ,class: 'btn btn-block btn-color' %>
    </div>
  </div>
</div>
