<div class="container">
  <div class="header">
    <h1 class="title">F.T.M</h1>
    <h2 class="under-title">Feel The Music</h2>
  </div>
  <h1 class="main-text">"Feel The Emotions with Music"</h1>
  <div class="contents">
   <div class="text-contents">
     <div class="feeling-images">
       <img src="yes.jpg">
       <img src="">
       <img src="">
       <img src="">
     </div>
    <div class="left-contents">
        <h3>What's this App about?</h3>
        <ul class="description">
          <li>This is an App that you can find the best music for you</li>
          <li>This is an App that tells your emotion what song to listen to</li>
          <li>This is an App that sounds your emotions</li>
        </ul>
        <h3 class="explanation">Why this was made?</h3>
        <p>It was hard for me to find a song that matches with my feeling</p>
        <p>and I knew that there is a lot of people around the world</p>
        <p>who find it difficult to find the right song for them.So I just</p>
        <p>wanted to make it easer for them to get to the song that sings</p>
        <p>their emotions.Beacause music is something wonderful.</p>
      </div>
    </div>
  </div>
  </div>
